#игнорирование папки или файлов встроенного кода
dist
# игнорирование папки зависимостей узла js
node_modules
# игнорирование папки настроек проекта для idea
.idea
# Папка с отчотом о проценте покрытия тестами.
/coverage/
